@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #b3b4bd;
  font-family: "Inter", serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  overflow: hidden;
}

.App-views {
  text-align: center;
  width: 75%;
  margin-left: 25%;
  padding: 20px;
  background-color: #eceff4;
  min-height: 100vh;
}
