.App {
  text-align: center;
  margin-left: 220px;
  padding: 20px;
  background-color: #eceff4;
  min-height: 100vh;
}

.exercise-library {
  background-color: #eceff4;
  min-height: 100vh;
}

.exercise-library h1 {
  color: #2e3440;
}

.exercise-item h3 {
  color: #d8dee9;
}

.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 200px; 
  height: 100vh; 
  background-color: #e5e9f0; 
  box-shadow: 0 2px 5px #0000002c; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: rgb(0, 0, 0); 
  box-shadow: 0 2px 5px #0000002c; 
  padding: 10px 0;
  background-color: hsl(219, 28%, 88%);
  margin-top: 20px;
  margin-left: 15px;
  width: 160px; 
  height: 20px; 
  border-radius: 17px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  display:flex;
  transition: all 0.3s ease;
}

.nav-link:hover {
  transform: translateY(-1px);
  background-color: hsl(219, 32%, 91%)
}

.nav-link:active {
  transform: translateY(1px);
}

.exercise-item {
  background-color: #4c566a;
  margin: 20px;
  padding: 10px;
  text-align: center;
  width: 150px; 
  height: 60px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  display:flex;
}

.exercises-list {
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
  display:flex;
}

.workout-planner-main {
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.planner-link {
  color:white; 
  margin: 20px;
  font-size: 23px;
  width: 200px; 
  height: 70px; 
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  display:flex;
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #88c0cf, #5e81acb2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.planner-link:hover {
  background: linear-gradient(135deg, #5e81acb2, #88c0cf);
  box-shadow: 0 6px 12px rgba(76, 86, 106, 0.4); 
  transform: translateY(-3px);
}

.planner-link:active {
  transform: translateY(1px);
  box-shadow: 0 3px 8px rgba(76, 86, 106, 0.25); 
}

.build-your-own {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: full;
}

.build-your-own iframe {
  width: 650px;
  height: 500px;
  margin-left: 20px;
  border: 2px solid #4c566a;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

select {
  width: 200px; 
  padding: 10px; 
  margin: 8px 0;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #4CAF50; 
  outline: none; 
}

.day-selection {
  margin-bottom: 16px;
  white-space: nowrap; 
}

.day-selection label {
  margin-right: 10px; 
  white-space: nowrap;
}

.build-your-own button {
  background-color: #4CAF50;
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.generated-plan {
  align-items: center;
  display: center;
}