.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.cards,
.selected-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.003);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.card p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.selected-cards {
  margin-top: 10px;
}

.day-form form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-select {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.btn-secondary:not(:disabled) {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-secondary:disabled {
  background-color: #b0b0b0;
  color: #f8f9fa;
  font-weight: bold;
  cursor: not-allowed;
}

.btn-secondary:hover:not(:disabled) {
  outline: none;
  background-color: #218838;
  transform: scale(1.05);
  font-weight: bold;
}

.workout-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #fff;
  margin: 0;
  padding: 5px;
}

.workout-details h5 {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.workout-details small {
  font-size: 14px;
  color: #6c757d;
}

.sticky-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 8vh;
  width: 100%;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0px -2px 15px 2px rgba(0, 0, 0, 0.25);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #e0e0e0;
  border-radius: 8px;
  font-weight: normal;
}

.save-button button {
  font-size: 1rem;
  padding: 8px 16px;
  margin-left: -100px;
  margin-bottom: 12px;
}
