.workoutIndicator-title {
    font-size: 45px;
  }
  
  .exercise-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .exercise-form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .exercise-button {
    margin-top: auto;
    align-self: center;
    min-width: 15vw;
  }