.workoutIndicator-title {
  font-size: 45px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.exercise-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.exercise-button {
  margin-top: auto;
  align-self: center;
  min-width: 15vw;
}

.exercise-link {
  color: #007bff;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: -15px;
  margin-bottom: 25px;
}

.progress-container {
  display: grid;
  width: 40vw;
  grid-template-columns: 70% 30%;
  align-self: center;
}

.progress-bar {
  align-self: center;
}
