.sidebar {
  width: 25%;
  height: 100vh;
  background-color: #e0e0e0;
  border-right: thin solid #555555;
  position: fixed;
}

.sidebar-container {
  text-align: center;
}

.sidebar-title {
  font-weight: bold;
}
