.inputField-container {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 70%;
    align-self: center;
  }
  
  .inputField-input {
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
  }